<mat-card class="my-2">
    <form [formGroup]="changePassword" class="mx-sm-4 my-sm-3" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
            <mat-label>Current password</mat-label>
            <input type="password" matInput formControlName="currentPassword" autocomplete="off">
            <mat-hint align="end"></mat-hint>
            <mat-error *ngIf="CurrentPassword.errors?.required || CurrentPassword.errors?.noWhitespaceValidator">Current Password is <strong>required</strong></mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <mat-label>New password</mat-label>
            <input type="password" matInput formControlName="newPassword" autocomplete="off">
            <mat-hint align="end"></mat-hint>
            <mat-error *ngIf="NewPassword.errors?.required">This field is <strong>required</strong></mat-error>
            <mat-error *ngIf="NewPassword.errors?.pattern">password must be <strong>8 characters</strong> long including <strong>1 uppercase</strong> letter, <strong>1 numeric</strong> value and <strong>1 special character</strong></mat-error>
            <!-- <mat-error *ngIf="true">asdfgh</mat-error> -->
        </mat-form-field><br>
        <mat-form-field appearance="outline">
            <mat-label>Confirm New password</mat-label>
            <input type="password" matInput formControlName="confirmNewPassword" autocomplete="off">
            <mat-hint align="end"></mat-hint>
            <mat-error *ngIf="ConfirmNewPassword.errors?.required">This field is <strong>required</strong></mat-error>
        </mat-form-field><br>
        <mat-error class="h6" *ngIf="changePassword.errors?.passwordmatchfailed">Password Not <strong>Matched</strong></mat-error>
        <button mat-raised-button [disabled]="changePassword.invalid" class="mb-2 dark-input" color="primary">Submit</button>
    </form>
</mat-card>