<div class="d-flex h-100">
    <mat-card style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" [class.w-25]="largeScreen" class="my-auto mx-md-auto mx-2 p-4">
        <mat-card-header>
            <mat-card-title>
                <!-- <h2 [ngClass]="{'custom-input': isDarkTheme, 'normal-input': !isDarkTheme}" class="h2 text-center">
                    <em>Project Scheduler</em></h2> -->
            </mat-card-title>
            <div style="margin-right: 16px;" class="w-100 text-center">
                <h2 style="font-size: 1.8rem;" class="h1 mx-auto">Report a Problem</h2>
            </div>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="report" class="p-md-2 p-1" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-12">
                        <!-- <h1 class="h5 text-danger text-center">Forgot Your Credentials?</h1> -->
                        <mat-form-field *ngIf="!otp" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput autocomplete="off">
                            <mat-hint align="end"></mat-hint>
                            <mat-error *ngIf="Email.errors?.required">Email is <strong>required</strong></mat-error>
                            <mat-error *ngIf="Email.errors?.email">Please Enter <strong>Email</strong></mat-error>
                        </mat-form-field><br>
                        <mat-form-field *ngIf="!otp" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input formControlName="name" matInput autocomplete="off">
                            <mat-hint align="end"></mat-hint>
                            <mat-error *ngIf="Name.errors?.required">Name is <strong>required</strong></mat-error>
                            <mat-error *ngIf="Name.errors?.pattern">Please Enter Correct <strong>Name</strong></mat-error>
                        </mat-form-field><br>

                        <div *ngIf="!otp" class="form-group">
                            <input (change)="uploadImage($event);" formControlName="file" class="form-control" type="file">
                        </div>

                        <mat-form-field *ngIf="!otp" appearance="outline">
                            <mat-label>Message</mat-label>
                            <textarea style="resize: none;" formControlName="message" matInput autocomplete="off"></textarea>
                            <mat-hint align="end"></mat-hint>
                            <mat-error *ngIf="Message.errors?.required">Message is <strong>required</strong></mat-error>
                        </mat-form-field><br>

                        <mat-form-field *ngIf="otp" appearance="outline">
                            <mat-label>Enter 6 digit Otp</mat-label>
                            <input formControlName="otp" matInput autocomplete="off">
                            <mat-hint align="end"></mat-hint>
                            <mat-error *ngIf="Otp.errors?.required">Name is <strong>required</strong></mat-error>
                        </mat-form-field><br>

                        <button *ngIf="!otp" type="button" (click)="login()" class="float-left" mat-raised-button>Back to Login</button>
                        <button *ngIf="!otp" type="button" (click)="showOtp()" mat-raised-button [disabled]="report.invalid" class="float-right" color="primary">Submit</button>
                        <button *ngIf="otp" mat-raised-button [disabled]="report.invalid" class="float-right" color="primary">Submit</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>